body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #2f2f2f;
    color: lightgoldenrodyellow;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.enter-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: navy;
    background-color: lightgoldenrodyellow;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.enter-button:hover {
    background-color: darkgoldenrod;
    color: white;
}
